{% extends "sk_python_project/base.html" %}

{% block content %}
<main class="p-6">
    <h1 class="text-xl font-semibold text-black">Topics</h1>

    {% if query %}
        <p class="mt-2 text-gray-600 dark:text-gray-300">
            Showing results for: <strong>{{ query }}</strong>
        </p>
    {% endif %}

    <ul class="mt-4 space-y-4">
        {% for topic in topics %}
            <li class="bg-blue-500 text-white shadow-md rounded-lg p-4 shadow-lg flex justify-between items-center">
                <div>
                    <a href="{% url 'sk_python_project:topic' topic.id %}" class="text-xl font-semibold text-white hover:underline">
                        {{ topic.text }}
                    </a>
                    <div class="mt-2 flex space-x-4">
                        <span class="bg-green-500 text-white py-1 px-3 rounded-full">
                            Like ({{ topic.like_set.count }})
                        </span>
                        <span class="bg-red-500 text-white py-1 px-3 rounded-full">
                            Dislike ({{ topic.dislike_set.count }})
                        </span>
                    </div>
                </div>

                <div>
                    <a href="{% url 'sk_python_project:new_entry' topic.id %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Add new entry</a>
                </div>
            </li>
        {% empty %}
            <li class="text-xl font-semibold text-black">No topics found.</li>
        {% endfor %}
    </ul>

    <div class="mt-6">
        <a href="{% url 'sk_python_project:new_topic' %}" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Add a new topic</a>
    </div>
</main>
{% endblock content %}
